// ============================================================================
// Styles for Theme-specific Elements and Layouts
// ============================================================================
// VARIABLES

// -- variables and their defaults go here --

// ============================================================================
// STYLES

// Event/Distribution Registration UI *****************************************
.event-registration,
.distribution-registration {

    .org-header {
        margin-top: 0.3rem;
        .org-name {
            font-size: 1.0rem;
            padding: 0.4rem;
            border: 1px solid red;
            background-color: #ffe0e0;
        }
        &.selected .org-name {
            border: 1px solid transparent;
            background: transparent;
        }
        &.empty .org-name {
            border-color: #ddd;
            background: transparent;
            color: #aaa;
        }
    }

    .event-type-header {
        margin-top: 0.3rem;
        text-align: center;
        .event-type-name {
            font-size: 1.2rem;
            padding: 0.3rem;
            border: 1px solid #43733f;
            background: #4a9d4f1a;
        }
        &.challenge .event-type-name {
            border-color: red;
            background-color: #ffe0e0;
        }
        &.empty .event-type-name {
            border-color: #ddd;
            background: transparent;
            color: #aaa;
        }
    }

    .event-registration-form {
        .event-registration-blocked {
            background-color: #ffaaaa;
            color: black;
            padding: 0.2rem 0.5rem;
            margin: 0.2rem 0.6rem;
        }
        .controls {
            width: 100%;
        }
        .controls.has-flaginfo,
        .controls.has-details {
            table {
                width: 100%;
                border: none;
            }
        }
        .person-details {
            font-size: 1.1rem;
            font-weight: bold;
        }
    }

    .profile-picture {
        margin: 1rem 0;
        max-width: 80%;
        .image-row {
            padding: 0 0 0.3rem;
            img {
                max-height: 80vh;
            }
        }
        .member-caption {
            padding: 0 0 0.3rem;
            font-size: 1.4rem;
        }
    }
}

// Case Event Registration: family member selection
.event-registration .family-members {
    width: 100%;
    border-collapse: collapse;
    div.member-show-picture {
        height: 2.7rem;
    }
    .member-id {
        color: #808080;
        font-size: 0.8rem;
        margin-bottom: 0.1rem;
    }
    .member-message {
        margin: 0;
        color: #e0767a;
        font-size: 0.8rem;
        font-style: normal;
        .columns {
            padding: 0;
        }
    }
    .family-member {
        td {
            border-bottom: 1px solid #e0e0e0;
            background-color: white;
        }
        &.member-blocked td {
            background-color: #f6f6f6;
            .member-id, .member-name {
                color: #b0b0b0;
            }
        }
    }
    .family-all {
        td {
            background-color: #f0f8f6;
            color: #505050;
            font-style: italic;
            height: 2.7rem;
        }
    }
    button.member-show-picture.showing {
        border: 1px solid black;
    }
}

// Supply Item Distribution: item selection
.distribution-registration .distribution-details {
    padding: 0.2rem 0.5rem;
    border: 1px solid #ccc;
    overflow: scroll;
    .blocked {
        height: 2.7rem;
        text-align: center;
        background-color: #ffcfcf;
        .msg {
            display: inline-block;
            font-style: italic;
            margin: 0.7rem auto;
        }
    }
    .item-table {
        width: 100%;
        td {
            height: 2.7rem;
        }
        .item-title {
            font-size: 0.875rem;
            th {
                border: solid 1px $body-background;
                padding: 0.3rem 0.2rem 0.7rem;
            }
            background-color: $body-background;
            color: $primary-color;
        }
        .item-header {
            line-height: 1;
            th {
                color: #aaa;
                font-size: 0.7rem;
                font-style: italic;
                font-weight: normal;
                padding: 0.3rem 0.1875rem;
            }
        }
        .blocked-msg {
            background-color: #ffcfcf;
            text-align: center;
            font-style: italic;
        }
        tr.dist-item {
            .dist-mode {
                font-size: 0.7rem;
                color: #c41515;
                font-style: italic;
            }
            &.selected {
                background-color: #ebf4ec;
            }
        }
    }
}

.event-bottom {
    .username {
        padding: 0;
    }
    border-top: 1px solid #ddd;
    padding-top: 0.5rem;
}

.checkpoint-advise {
    background: #fff0f0 none repeat scroll 0 0;
    border: 2px solid red;
    margin-bottom: 1rem;
    padding: 0.6rem;
    p {
        white-space: pre-wrap;
    }
}

// END ========================================================================
