// ============================================================================
// Styles for Data Lists (Card Lists)
// ============================================================================
// VARIABLES

// -- none --

// ============================================================================
// STYLES

.dl {
    border-bottom: 1px solid #aaa;
    .dl-1-cols {
        width: 100%;
    }
    .dl-2-cols {
        width: 50%;
    }
    .dl-3-cols {
        width: 33%;
    }
    .dl-4-cols {
        width: 25%;
    }
    .dl-header {
        padding: 3px;
        text-align: right;
    }
    .dl-row {
        border: 0;
        &.even, &.even .dlitem {
            background-color: white;
        }
        &.odd, &.odd .dl-item {
            background-color: #f2f2f5;
        }
    }
    .dl-item {
        padding: 3px 5px 3px 5px;
        .dropdown .caret {
            margin-left: 0.2rem;
            margin-top: 0.4rem;
        }
        .attachments {
            margin-right: 0.2rem;
        }
    }
    .dl-field {
        padding: 0.1rem 0;
    }
    .dl-field-label,
    .dl-field-value {
        display: inline-block;
    }
    .dl-field-label {
        font-weight: normal;
    }
    .dl-field-value {
        margin: 0 0.5rem;
        font-weight: bold;
    }
    .dl-toggle-contents {
        margin: 0;
    }
    .edit-bar.fright {
        float: right;
    }
    .edit-bar a {
        font-size: 1rem;
        padding: 0 0.2rem;
        color: $black;
    }
    [dir=rtl] & {
        .dl-header {
            text-align: left;
        }
        .dl-item {
            .dropdown .caret {
                margin-left: 0;
                margin-right: 0.2rem;
            }
            .attachments {
                margin-right: 0;
                margin-left: 0.2rem;
            }
        }
        .edit-bar.fright {
            float: left;
        }
    }
}

.dl-empty {
    @include empty_section();
}
.dl-exports.list_formats {
    padding: 0;
}

// END ========================================================================
