// ============================================================================
// Styles for Data Lists (Card Lists)
// ============================================================================
// VARIABLES

// -- none --

// ============================================================================
// STYLES

.dl {
    border-bottom: 1px solid #aaa;
    .dl-1-cols {
        width: 100%;
    }
    .dl-2-cols {
        width: 50%;
    }
    .dl-3-cols {
        width: 33%;
    }
    .dl-4-cols {
        width: 25%;
    }
    .dl-header {
        padding: 3px;
        text-align: right;
    }
    .dl-row {
        border: 0;
        &.even, &.even .dlitem {
            background-color: white;
        }
        &.odd, &.odd .dl-item {
            background-color: #f2f2f5;
        }
    }
    .dl-item {
        padding: 3px 5px 3px 5px;
        .dropdown .caret {
            margin-left: 0.2rem;
            margin-top: 0.4rem;
        }
        .attachments {
            margin-right: 0.2rem;
        }
    }
    .dl-field {
        padding: 0.1rem 0;
    }
    .dl-field-label,
    .dl-field-value {
        display: inline-block;
    }
    .dl-field-label {
        font-weight: normal;
    }
    .dl-field-value {
        margin: 0 0.5rem;
        font-weight: bold;
    }
    .edit-bar.fright {
        float: right;
    }
    .edit-bar a {
        font-size: 1rem;
        padding: 0 0.2rem;
        color: $black;
    }
    [dir=rtl] & {
        .dl-header {
            text-align: left;
        }
        .dl-item {
            .dropdown .caret {
                margin-left: 0;
                margin-right: 0.2rem;
            }
            .attachments {
                margin-right: 0;
                margin-left: 0.2rem;
            }
        }
        .edit-bar.fright {
            float: left;
        }
    }
}

.dl-empty {
    @include empty_section();
}
.dl-exports.list_formats {
    padding: 0;
}

// Medical Status Reports
.med-status {
    padding: 0.7rem;
    &.editable {
        background-color: #fff6e4;
        border: 1px solid #b03737;
    }
    .dl-field-label, .dl-field-value {
        display: block;
    }
    .dl-field-label {
        font-size: 0.7rem;
    }
    .dl-field-value {
        white-space: pre-wrap;
        margin-bottom: 0.5rem;
    }
    p.pending {
        font-size: 0.7rem;
        font-style: italic;
        color: #b03737;
    }
}
.med-status-header {
    padding: 0.3rem;
    border: 1px solid #ccc;
    background-color: #7979792b;
    .meta {
        display: inline-block;
        // font-weight: bold;
        padding: 0.1rem 0.5rem;
        &.meta-fix {
            min-width: 27%;
            background-color: #f0f0f0;
            line-height: 0.9rem;
        }
    }
    &.editable {
        .meta {
            color: #b03737;
            &.meta-fix {
                background-color: #fff6e4;
            }
        }
        background-color: #fde7bd;
    }
}

// END ========================================================================
