// ============================================================================
// Representation Styles
// ============================================================================
// VARIABLES

// -- none --

// ============================================================================
// STYLES
//
// Generic classes ------------------------------------------------------------
//
.out-of-range {
    color: #a00;
}

// Request (req) Statuses -----------------------------------------------------
//
.req_status_none {
    color: red;
    font-weight: bold;
}
.req_status_partial {
    color: darkorange;
    font-weight: bold;
}
.req_status_complete {
    color: green;
    font-weight: bold;
}

// ----------------------------------------------------------------------------
// Hours representation
//
.hours-formatted {
    cursor: pointer;
}

// ----------------------------------------------------------------------------
// Due dates
//
.due-date {
    padding: 0 2px;
    &.due-now {
        background-color: #ff010194;
        color: black;
    }
    &.due-next {
        background-color: #ff54005c;
    }
    &.due-soon {
        background-color: #f7ff004a;
    }
}

// ----------------------------------------------------------------------------
// Avatars
//
.avatar {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #d7d7d7;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    float: left;
    height: 55px;
    padding: 4px;
    width: 55px;
    [dir=rtl] & {
        float: right;
    }
}

// ----------------------------------------------------------------------------
// Text representation
//
.text-body {
    white-space: pre-wrap;
}

/* Truncated Texts */
.s3-truncate-more,
.s3-truncate-less {
    font-style: italic;
}
.s3-truncate-more:before,
.s3-truncate-less:before {
    font-style: italic;
    content: "...";
}

// ----------------------------------------------------------------------------
// Boolean Representation
//
.bool {
    .controls & {
        margin-left: 0.5rem;
        [dir=rtl] & {
            margin-left: 0;
            margin-right: 0.5rem;
        }
    }
    i {
        margin-right: 0.2rem;
        [dir=rtl] & {
            margin-right: 0;
            margin-left: 0.2rem;
        }
    }
    &.bool-red {
        color: #d01717;
    }
    &.bool-green {
        color: #018801;
    }
    &.bool-blue {
        color: #1754b3;
    }
    &.bool-grey {
        color: #7f7f7f;
    }
}

// ----------------------------------------------------------------------------
// Priority Representation
//
.prio {
    padding: 0 0.4rem;
    border: 1px solid #333;
    font-size: 0.8rem;
    font-weight: normal;
    text-align: center;
    white-space: pre;
}
.prio-red {
    color: #E0E0E0;
    background-color: #d10000;
}
.prio-lightred {
    background-color: #d17f7f;
}
.prio-amber {
    background-color: #ffaa00;
}
.prio-lightgreen {
    background-color: #a0d7a0;
}
.prio-green {
    color: #E0E0E0;
    background-color: #006100;
}
.prio-blue {
    color: white;
    background-color: #10427b;
}
.prio-lightblue {
    background-color: #b7ddff;
}
.prio-grey {
    background-color: silver;
}
.prio-black {
    color: #E0E0E0;
    background-color: #1f1f1f;
}

// ----------------------------------------------------------------------------
// Occupancy bar (e.g. shelter unit list)
//
.occupancy-bar {
    border: 1px solid black;
    position: relative;
    padding: 0 2px;
    min-width: 4rem;
    .occupancy {
        &:before {
            content: "-";
            visibility: hidden;
        }
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        &.occupancy-0 {
            width: 1%;
            background-color: rgba(0, 85, 0, 0.5);
        }
        &.occupancy-10 {
            width: 10%;
            background-color: rgba(0, 115, 0, 0.5);
        }
        &.occupancy-20 {
            width: 20%;
            background-color: rgba(0, 145, 0, 0.5);
        }
        &.occupancy-30 {
            width: 30%;
            background-color: rgba(70, 160, 0, 0.5);
        }
        &.occupancy-40 {
            width: 40%;
            background-color: rgba(100, 160, 0, 0.5);
        }
        &.occupancy-50 {
            width: 50%;
            background-color: rgba(160, 160, 0, 0.5);
        }
        &.occupancy-60 {
            width: 60%;
            background-color: rgba(175, 145, 0, 0.5);
        }
        &.occupancy-70 {
            width: 70%;
            background-color: rgba(190, 120, 0, 0.5);
        }
        &.occupancy-80 {
            width: 80%;
            background-color: rgba(205, 80, 0, 0.5);
        }
        &.occupancy-90 {
            width: 90%;
            background-color: rgba(220, 40, 0, 0.5);
        }
        &.occupancy-100 {
            width: 100%;
            background-color: rgba(235, 20, 0, 0.5);
        }
        &.occupancy-exc {
            width: 100%;
            background-color: rgba(200, 0, 0, 0.6);
        }
    }
}

// ----------------------------------------------------------------------------
// Weekly Hours Representation
//
.wh-schedule {
    list-style: none;
    white-space: pre;
    margin: 0;
    font-size: 0.7rem;
    .wh-dayname {
        width: 1.5rem;
        display: inline-block;
    }
    .wh-dayname::after {
        content: ":";
    }
}

// ----------------------------------------------------------------------------
// Comments-represent
//
.showall {
    display: none;
    position: absolute;
    border-style: solid;
    background-color: #ffc;
    padding: 5px;
    margin: 0 20px 0 -50px;
}

// ----------------------------------------------------------------------------
// CMS Newsletter Text Represent
//
.newsletter-text {
    white-space: pre-line;
    background: #fcfcfc;
    padding: 0.7rem;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #ddd;
    width: 48rem;
    max-width: 100%;
    min-height: 8rem;
    font-size: 0.85rem;
}

// ----------------------------------------------------------------------------
// File-Represent
//
.file-repr {
    i.fa {
        font-size: 1.1rem;
    }
    .file-size {
        padding: 0 0.4rem;
        font-size: 0.7rem;
    }
}

.img-preview {
    max-width: 120px;
    max-height: 80px;
}

// ----------------------------------------------------------------------------
// PersonRepresentContact
//
.contact-repr {
    background-color: #FFF0C1;
    border: 1px solid #E0E0E0;
    padding: 0.25rem 0.5rem;
    .contact-name {
        display: block;
        font-weight: bold;
        margin-bottom: 0.2rem;
    }
    .contact-info {
        white-space: nowrap;
        font-size: 0.8rem;
        .fa {
            padding-right: 0.4rem;
        }
    }
}

// ----------------------------------------------------------------------------
// WorkflowOptions
//
.workflow-options {
    white-space: pre;
    &.workflow-grey {
        color: #555;
    }
    &.workflow-red {
        color: #c42626;
    }
    &.workflow-amber {
        color: #ec8d27;
    }
    &.workflow-green {
        color: green;
    }
    &.workflow-advice {
        border: 1px solid #c42626;
        background-color: #ffdede;
        padding: 0.3rem 0.7rem;
    }
    .fa {
        margin-right: 0.2rem;
        [dir=rtl] & {
            margin-right: 0;
            margin-left: 0.2rem;
        }
    }
    .controls & {
        margin-left: 0.5rem;
        [dir=rtl] & {
            margin-left: 0;
            margin-right: 0.5rem;
        }
    }
}

// ----------------------------------------------------------------------------
// ACT Issues
//
.issue-date {
    display: block;
    font-size: 0.75rem;
    color: #666;
}
.issue-full {
    border: 1px solid #ccc;
    background-color: #fdf7de;
    padding: 0.5rem 0.75rem;
    h4 {
        font-size: 1rem;
    }
    .issue-description {
        font-size: 0.85rem;
        font-style: italic;
    }
}

// ----------------------------------------------------------------------------
// MED
//
// Contamination Hazards
.hazard-neg, .hazard-pos {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 1px;
    border: 1px solid #666;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.hazard-bio.hazard-pos {
    background-image: url(../../img/hazard/bio.png)
}
.hazard-tox.hazard-pos {
    background-image: url(../../img/hazard/tox.png)
}
.hazard-rad.hazard-pos {
    background-image: url(../../img/hazard/rad.png)
}

// Patient rheader
.med-reason {
    font-size: 0.9rem;
    color: #840088;
}
.med-area {
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
    background: #eee;
    margin-right: 1rem;
    font-weight: normal;
    vertical-align: top;
}
.med-patient, .med-unregistered {
    font-size: 0.9rem;
    vertical-align: top;
}
.med-unregistered {
    font-style: italic;
    color: grey;
}

// ----------------------------------------------------------------------------
// Client gender and age representation
//
.client-gender-age {
    font-size: 0.7rem;
    vertical-align: top;
    color: #999;
    .fa {
        margin: 0 0.2rem;
    }
    margin: 0 1rem;
}

// END ========================================================================

