{{ga_id = settings.get_google_analytics_tracking_id()}}{{if ga_id:}}
{{if s3.debug:}}<script src="/{{=appname}}/static/scripts/jquery.ihavecookies.js"></script>{{else:}}<script src="/{{=appname}}/static/scripts/jquery.ihavecookies.min.js"></script>{{pass}}
{{if ga_id:}}<script async src='https://www.google-analytics.com/analytics.js'></script>{{pass}}
<script type="text/javascript">//<![CDATA[
{{if ga_id:}}window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;{{pass}}
</script>{{pass}}
{{include "chat.html"}}
{{# Include dynamically added Scripts at the end of the body}}{{for script in s3.scripts:}}{{=SCRIPT(_src=script)}}{{pass}}
{{for script in s3.scripts_modules:}}{{=SCRIPT(_type="module", _src=script)}}{{pass}}
<script type="text/javascript">//<![CDATA[
{{pass}}{{for script in s3.js_global:}}{{=XML(script)}}
{{pass}}$(function(){
 {{if ga_id:}}$('body').ihavecookies({
  title:i18n.ihc_title,
  message:i18n.ihc_message,
  link:S3.Ap.concat('/default/privacy'),
  expires:365,
  moreInfoLabel:i18n.ihc_moreInfoLabel,
  acceptBtnLabel:i18n.ihc_acceptBtnLabel,
  advancedBtnLabel:i18n.ihc_advancedBtnLabel,
  cookieTypesTitle:i18n.ihc_cookieTypesTitle,
  fixedCookieTypeLabel:i18n.ihc_fixedCookieTypeLabel,
  fixedCookieTypeDesc:i18n.ihc_fixedCookieTypeDesc,
  cookieTypes:[{type:i18n.ihc_analytics,value:'analytics',description:i18n.ihc_analytics_desc}],
  onAccept:function(){if($.fn.ihavecookies.preference('analytics')){
  {{if ga_id:}}ga('create','{{=ga_id}}','auto');ga('send','pageview');{{pass}}
  }
 }});{{pass}}
 {{for script in s3.jquery_ready:}}{{=XML(script)}}
 {{pass}}})
//]]></script>
