# =============================================================================
# Add a list of CSV files to import into the system
# =============================================================================
# Import organisations
org,organisation_type,org_organisation_type.csv,organisation_type.xsl
org,group,org_group.csv,group.xsl
org,organisation,org_organisation.csv,organisation.xsl
# Case statuses
# dvr,case_status,dvr_case_status.csv,case_status.xsl
# =============================================================================
